<div class="container-fluid">
	<div class="row" style="height: 100%">
		<div style="background-color: rgb(40, 50, 78);height: 100%;" class="col-md-1">
			<ul id="sidebar-ul">
				<li id="sidebar-li-app" class="sidebar-li">
				<img src="https://lichess1.org/assets/images/learn/brutal-helm.svg">
				CB
				</li>
				<li id="castle-btn" class="sidebar-li"><img src="https://lichess1.org/assets/images/learn/castle.svg">
					Castle
				</li>
				<li id="creategame-btn" class="sidebar-li"><img src="https://lichess1.org/assets/images/learn/battle-gear.svg">Create
				</li>
				<li id="joingame-btn" class="sidebar-li"><img src="https://lichess1.org/assets/images/learn/guards.svg">Join</li>
				<li id="logout-btn" class="sidebar-li"><img src="https://lichess1.org/assets/images/learn/winged-sword.svg">Logout</li>
			</ul>
		</div>
		<div id="chessboard-div" class="col-md-7">
			<div style="height: 100%" class="row">
				<div class="col-md-9">
					<div id="board1">
            		</div>
				</div>
				<div id="timer" class="col-md-3">
					<ul>
						<li>

							Magnus<br>
							<span class="label label-info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								05:00
							</span>
						</li>
						<li style="margin-bottom: 10px">
							<span class="label label-warning">
							<i class="fa fa-handshake-o" aria-hidden="true"></i>
							Offer Draw
							</span><br>
							</li>
							<li>
							<span class="label label-danger">
							<i class="fa fa-ravelry" aria-hidden="true"></i>
							Resign
							</span><br>
						</li>
						<li style="padding-bottom: 0">
							<span class="label label-info">
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								04:59
							</span><br>
						{{userDetails.username}}
						</li>
					</ul>
				</div>
			</div>
            
		</div>
		<div id="chessWrapper" class="col-md-4">
			<div id="profile-header" class="row">
			<div id="heading" class="col-md-12">
				<i  class="fa fa-toggle-off fa" aria-hidden="true"></i>
				PROFILE
			</div>
		</div>

		<div id="profile-info" class="row">
			<div class="col-md-12">
				<div id="profile-info-overlay" class="row">
					<div class="col-md-12">
						<div id="profile-pic-wrapper" class="row">
							<div class="col-md-12">
								<img id="user-pic" class="img-circle" src="/img/crown(2).png">
							</div>
						</div>
						<div id="user-name-wrapper" class="row">
							<div class="col-md-12">
								<span id="user-name">
									{{userDetails.username}}
								</h2>
							</div>
						</div>
						<div id="user-category-wrapper" class="row">
							<div class="col-md-12">
								<button class="btn rounded-circle">
									1st Category
								</button>
							</div>
						</div>
						<div id="total-games-wrapper" class="row">
							<div class="col-md-12">
								<h4>
									{{userGameDetails.totalGames}} GAMES
								</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="profile-mini-stats" class="row">
			<div class="col-md-4">
				<span style="font-family: sans-serif;font-weight: bold;color: #FE7C60;"> WON</span> 
				{{userGameDetails.wins}}
			</div>
			<div class="col-md-4">
				<span style="font-family: sans-serif;font-weight: bold;color: #F8C82D;">LOST</span> 
				{{userGameDetails.losses}}
			</div>
			<div class="col-md-4">
				<span style="font-family: sans-serif;font-weight: bold;color: #0DCCC0;">DRAW</span>
				 {{userGameDetails.draws}}
			</div>
		</div>

		<div id="chat-div-home" class="row">
		</div>
		</div>
	</div>
</div>
<script src="/js/chessboard-0.3.0.js"></script>
<script>
    var board1 = ChessBoard('board1', 'start');
</script>
<script type="text/javascript">
//event handlers for side-li buttons
$("#creategame-btn").on('click', function(){
  var uniquekey = Math.random().toString(36).slice(2);
  //make a get request to flask server which would return a fen layout
  //send this fen layout to server along with other details
  $.get('/' + "{{userDetails.username}}" + '/' + uniquekey + '/white', function(data){
    window.location = '/' + "{{userDetails.username}}" + '/' + uniquekey + '/white';
  });
});

$("#joingame-btn").on("click", function(){
  var uniquekey = prompt("Unique key of the game?");
  if(uniquekey)
  {
  	$.get('/' + "{{userDetails.username}}" + '/' + uniquekey + '/black', function(data){
	    window.location = '/' + "{{userDetails.username}}" + '/' + uniquekey + '/black';
	  });	
  }
  
});

$("#castle-btn").on('click', function(){
	$.get('/' + "{{userDetails.username}}" + '/home', function(data){
    window.location = '/' + "{{userDetails.username}}" + '/home';
  });
});

$("#logout-btn").on('click', function(){
	//destroy session then redirect to start page
	$.get('/', function(data){
    window.location = '/';
  });

});

</script>